.jumbotron-oapm {
  width: 100%;
  height: auto;
}

.jumbotron-oapm img {
  width: 100%;
  box-shadow: 0px 0px 10px 5px black;
}

/* Konten 1 oapm */

.konten-oapm-1 {
  width: 100%;
  height: auto;
  background-image: url(/assets/img/bgPatren/bgPatren1.png);
  box-sizing: border-box;
  padding: 1rem 1rem;
}

.konten-oapm-1 .isi-konten-oapm-1 {
  max-width: 120vh;
  height: auto;
  margin: auto;
}

.konten-oapm-1 .isi-konten-oapm-1 .konten-1-oapm,
.konten-oapm-1 .isi-konten-oapm-1 .konten-2-oapm {
  width: 100%;
  height: auto;
  padding: 1rem 1rem;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 5px 5px 5px black;
  margin: 3rem 0;
  border: 1px solid black;
}

.konten-oapm-1 .isi-konten-oapm-1 .konten-1-oapm h2,
.konten-oapm-1 .isi-konten-oapm-1 .konten-2-oapm h2 {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
}

.konten-oapm-1 .isi-konten-oapm-1 .konten-1-oapm p,
.konten-oapm-1 .isi-konten-oapm-1 .konten-2-oapm p {
  margin-bottom: 2rem;
  text-align: justify;
}

/* Konten opam 2 */
.konten-oapm-2 {
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  background-image: url(../assets/img/bg2/3.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px 5px black;
}

.konten-oapm-2 .isi-konten-oapm-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  max-width: 85%;
  min-height: 70vh;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
}

.konten-oapm-2 .isi-konten-oapm-2 .card-oapm {
  width: 60vh;
  height: auto;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  margin: auto;
}

.konten-oapm-2 .isi-konten-oapm-2 h2 {
  color: #f4eea9;
  text-shadow: 2px 2px 1px black, 0px 0px 10px black;
  font-weight: bold;
  margin-bottom: 1rem;
}

.konten-oapm-2 .isi-konten-oapm-2 button {
  width: 90%;
  height: 2.5rem;
  border-radius: 20px;
  background-color: white;
  box-shadow: 2px 2px 5px black;
  margin-bottom: 1rem;
  transition: 0.6s;
}

.konten-oapm-2 .isi-konten-oapm-2 button:hover {
  background-color: #20f200;
}
.konten-oapm-2 .isi-konten-oapm-2 button h5 {
  font-weight: bold;
  line-height: 2.5rem;
}
