* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #222;
}

body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "poppins", sans-serif;
  background-color: rgb(255, 255, 255);
}

.navbar {
  opacity: 1;
}

.gallery {
  width: 100%;
  height: 100vh;
}

.gallery-cell {
  width: 120vh;
  height: auto;
  background: rgb(255, 255, 255);
  position: relative;
}

/* Konten Utama */
.konten-utama {
  display: block;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  padding-bottom: 3rem;
  width: 100%;
  height: auto;
  background-color: #ffffff00;
  border: 1px solid black;
}

.konten-utama .box,
.konten-1 .box,
.konten-2 .box,
.konten-3 .box,
.konten-4 .box,
.konten-5 .box {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(136, 204, 136, 0);
  filter: blur(5px) sepia(100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.8s;
}

.konten-utama .box {
  background-image: url(/assets/img/bg2/1.png);
}

.konten-utama:hover .box,
.konten-1:hover .box,
.konten-2:hover .box,
.konten-3:hover .box,
.konten-4:hover .box,
.konten-5:hover .box {
  filter: blur(1.5px) sepia(0%);
}

.konten-utama .gallery {
  height: 80vh;
  margin: 2rem auto 2rem;
}

.konten-utama .gallery .gallery-cell {
  margin: 5px;
  height: 80vh;
}

.konten-utama .gallery .gallery-cell img,
.konten-2 .isi-konten-2 .gallery .gallery-cell img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* Kontent 1 */
.konten-1 {
  display: block;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 5rem;
  background-color: #ffffff00;
  border: 1px solid black;
}

.konten-1 .box {
  background-image: url(/assets/img/bg2/2.png);
}

.konten-1 h1 {
  font-size: 3rem;
  font-weight: bold;
  font-variant: small-caps;
  margin: 2rem;
  color: white;
  text-shadow: 2px 2px 1px black, 0px 0px 10px black;
}

.konten-1 .isi-konten-1 {
  max-width: 80vh;
  height: auto;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.6);
  margin: auto;
  padding: 1rem;
  border-radius: 15px;
}

.konten-1 .isi-konten-1 .konten-1-logo {
  width: 100%;
  height: 25vh;
  background-color: #ffffff;
  border-bottom: 2px solid black;
}

.konten-1 .isi-konten-1 .desk-konten-1-logo {
  width: 100%;
  height: auto;
  font-size: 20px;
  margin-top: 1rem;
  text-align: justify;
}

/* Konten 2 */
.konten-2 {
  display: block;
  position: relative;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 3rem;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 10px 5px black;
}

.konten-2 .box {
  background-image: url(/assets/img/bg2/3.png);
}

.konten-2 h1 {
  font-size: 3rem;
  font-weight: bold;
  font-variant: small-caps;
  margin: 3rem 0 5rem;
  color: white;
  text-shadow: 2px 2px 1px black, 0px 0px 10px black;
}

.konten-2 .isi-konten-2 {
  margin: auto;
  width: 60%;
}

.konten-2 .isi-konten-2 .gallery {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid black;
  box-shadow: 0px 0px 10px 5px black;
  height: 40vh;
  margin-bottom: 5rem;
}

.konten-2 .isi-konten-2 .gallery .gallery-cell {
  margin-right: 5px;
  width: 40vh;
  height: 40vh;
}

/* Konten 3 */
.konten-3 {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 5rem;
  padding-left: 8rem;
  padding-right: 8rem;
  border: 1px solid black;
}

.konten-3 .box {
  background-image: url(/assets/img/bg2/4.png);
}

.konten-3 .isi-konten-3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  height: 100%;
  width: 76vh;
  /* border: 1px solid black; */
  box-sizing: border-box;
}

.konten-3 .isi-konten-3 .media {
  display: block;
  margin: 1rem auto;
  height: 60vh;
  width: 37vh;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid black;
  border-radius: 10px;
}

.konten-3 h1 {
  display: block;
  font-size: 3rem;
  font-weight: bold;
  font-variant: small-caps;
  margin: 1rem;
  margin: auto;
  color: white;
  text-shadow: 2px 2px 1px black, 0px 0px 10px black;
}

/* Konten 4 kontak us*/

.konten-4 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 5rem 0;
  border-bottom: 1px solid black;
  background-image: url(/assets/img/bgPatren/bgPatren1.png);
  box-shadow: 0px 0px 10px 5px black;
}

.konten-4 h1 {
  display: inline-block;
  height: auto;
  width: 60vh;
  margin: auto;
  font-size: 3rem;
  font-weight: bold;
  font-variant: small-caps;
  color: #f4eea9;
  text-shadow: 2px 2px 1px rgb(0, 0, 0), 0px 0px 10px rgb(0, 0, 0);
  border-bottom: 3px solid #f4eea9;
  box-shadow: 0px 5px 5px -5px black;
}

.konten-4 .isi-konten-4 {
  display: flex;
  margin: auto auto;
  flex-wrap: wrap;
  height: auto;
  width: 90vh;
  box-sizing: border-box;
}

.konten-4 .isi-konten-4 .media {
  display: block;
  height: auto;
  max-width: 40vh;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 0 1rem;
  margin: 1rem auto;
}

/* Konten 5 */

.konten-5 {
  display: block;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 5rem;
  border: 1px solid black;
}

.konten-5 .box {
  background-image: url(/assets/img/bg2/6.png);
}

.konten-5 h1 {
  font-size: 3rem;
  font-weight: bold;
  font-variant: small-caps;
  margin: 0rem auto 4rem;
  color: white;
  text-shadow: 2px 2px 1px black, 0px 0px 10px black;
}

.konten-5 .isi-konten-5 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  height: auto;
  width: 100%;
}

.konten-5 .isi-konten-5 .media {
  display: inline-block;
  height: 50vh;
  width: 48vh;
  margin: 1rem auto;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  font-size: 1.5rem;
  box-sizing: border-box;
  padding: 1rem;
}

/* Footer */

.footer-konten {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: #1c2938;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 4rem;
}

.social {
  display: inline;
  padding: 1rem 0;
}

.social a {
  color: rgb(255, 255, 255);
  margin: 1rem;
}

.social a:hover {
  color: rgb(176, 179, 0);
}

.credit {
  display: inline;
  font-size: 0.8rem;
}

.credit a {
  color: rgb(255, 255, 255);
  font-weight: 700;
}
