<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OAPM - AF PNJ</title>
        <link rel="icon" href="/assets/logo/pnj.png">

        <!-- Icon -->
        <script src="https://unpkg.com/feather-icons"></script>
        <link rel="icon" href="/assets/logo/pnj.png">

        <!-- Style css -->
        <link rel="stylesheet" href="../script/style.css">
        <link rel="stylesheet" href="../script/styleOAPM.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"/>
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
            rel="stylesheet"/>
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet"/>
        <link rel="stylesheet" href="/library/style.css">
    </head>
    <body class="bg-dark">

        <!-- nav start -->
        <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light"
            id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="/assets/logo/pnj.png" alt="Logo" width="60"
                        height="50">
                    afpnj 2023
                </a>
                <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="/index.html"
                                class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="/view/about.html"
                                class="nav-link">About Us</a></li>
                        <li class="nav-item dropdown position-static">
                            <a class="nav-link dropdown-toggle" href="#"
                                id="dropdown04" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Our
                                Event</a>
                            <div class="dropdown-menu p-4"
                                aria-labelledby="dropdown04">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a class="dropdown-item"
                                            href="/view/oapm.html">OAPM</a>
                                        <a class="dropdown-item" href="#">EIA</a>
                                        <a class="dropdown-item" href="#">ASC</a>
                                        <a class="dropdown-item" href="#">Bazaar</a>
                                    </div>
                                    <div class="col-md-2 d-none d-md-block">
                                        <a href="#" class="img"
                                            style="background-image:
                                            url(/assets/logo/headeroapm.png);"></a>
                                        <div class="text">
                                            <h3><a href="#">Pendaftaran OAPM</a></h3>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 d-none d-md-block">
                                        <a href="#" class="img"
                                            style="background-image:
                                            url(images/img-2.jpg);"></a>
                                        <div class="text">
                                            <h3><a href="#">EIA</a></h3>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 d-none d-md-block">
                                        <a href="#" class="img"
                                            style="background-image:
                                            url(images/img-3.jpg);"></a>
                                        <div class="text">
                                            <h3><a href="#">ASC</a></h3>
                                            <span>isi</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 d-none d-md-block">
                                        <a href="#" class="img"
                                            style="background-image:
                                            url(images/img-3.jpg);"></a>
                                        <div class="text">
                                            <h3><a href="#">Bazaar</a></h3>
                                            <span>isi</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- nav end -->

        <!-- Jumbotron -->
        <!-- <div class="p-5 text-center bg-image img-fluid" style="
            background-image:
            url('/assets/logo/headeroapm.png');
            ">
        </div> -->
        <div class="jumbotron-oapm">
            <img src="../assets/logo/headeroapm.png" alt="">
        </div>
        <!-- Jumbotron -->

        <!-- konten start -->
        <!-- <div class="p-5 mb-4 text-bg-success" style="margin-top: 10px;">
            <div class="text-center p-5">
                <p class="fs-5">Apa itu OAPM?
                    Olimpiade Akuntansi dan Pasar Modal atau dikenal OAPM
                    Merupakan konten perlombaan dan webinar di Accounting Fair
                    pada bidang keilmuan seputar akuntansi dan pasar modal untuk
                    mahasiswa S1/D3 Sederajat dari seluruh perguruan tinggi di
                    Indonesia.
                </p>
            </div>
        </div> -->
        <!-- Konten 1 start -->
        <div class="konten-oapm-1">
            <div class="isi-konten-oapm-1">
                <div class="konten-1-oapm">
                    <h2>Olimpiade Akuntansi dan Pasar Modal</h2>
                    <p>Olimpiade Akuntansi dan Pasar Modal (OAPM) merupakan
                        suatu konten dari acara terbesar di Jurusan Akuntansi
                        Politeknik Negeri Jakarta yaitu Accounting Fair 2022.
                        OAPM diikuti oleh mahasiswa/i jurusan Akuntansi dan
                        Ekonomi se-Indonesia. Hal ini merupakan bentuk
                        kontribusi terhadap pengembangan pengetahuan serta
                        keterampilan mahasiswa/i Akuntansi.</p>

                    <p>Melalui perlombaan ini diharapkan dapat dijadikan sebagai
                        sarana berkompetisi yang sehat antar mahasiswa untuk
                        meningkatkan kualitas dan kemampuannya dalam memecahkan
                        masalah-masalah akuntansi secara konsep dan teknis
                        akuntansi yang menjadi sarana bagi peserta dalam
                        membangun karakter, etika dan disiplin ilmu serta
                        praktik akuntansi.</p>
                </div>
                <div class="konten-2-oapm">
                    <h2>Tema OAPM</h2>
                    <p>Explore the universe of accounting and capital market
                        through digital technology</p>
                </div>
            </div>
        </div>
        <!-- Konten 1 end -->

        <!-- Konten 2 start -->
        <div class="konten-oapm-2">
            <div class="isi-konten-oapm-2">
                <div class="card-oapm">
                    <h2>Pendaftaran Lomba OAPM</h2>
                    <button><h5>Join Us!</h5></button>
                </div>
                <div class="card-oapm">
                    <h2>Registrasi Ulang OAPM</h2>
                    <button><h5>Join Us!</h5></button>
                </div>
                <div class="card-oapm">
                    <h2>Booklet Lomba OAPM</h2>
                    <button><h5>Join Us!</h5></button>
                </div>
                <div class="card-oapm">
                    <h2>Pendaftaran Webinar OAPM</h2>
                    <button><h5>Join Us!</h5></button>
                </div>
            </div>
        </div>
        <!-- Konten 2 end -->

        <!-- contact us konten start -->
        <!-- <div class="p-5 fs-5 text-center bg-light">
            <div class="row">
                <div class="col-sm-3">
                    <h1>Contact Us</h1>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-8 col-sm-6">
                            SPONSORHIP
                            <p>Name</p>
                        </div>
                        <div class="col-4 col-sm-6">
                            INFORMATION AND REGISTRATION
                            <p>Name</p>
                        </div>
                        <div class="col-4 col-sm-6">
                            ACCOMMODATIONS
                            <p>Name</p>
                        </div>
                        <div class="col-4 col-sm-6">
                            LIVE STREAMING TOOLS
                            <p>Name</p>
                        </div>
                        <div class="col-4 col-sm-6">
                            MEDIA PARTNER
                            <p>Name</p>
                        </div>
                        <div class="col-4 col-sm-6">
                            INKIND PARTNERSHIP
                            <p>Name</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="konten-4">
            <h1>Contact Us</h1>
            <div class="isi-konten-4">
                <div class="media media-1">Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Tempore accusantium quibusdam
                    doloribus inventore sint nisi deleniti <br> <br> natus
                    beatae
                    perspiciatis enim, possimus ratione, consequuntur eius.
                    Laborum voluptatem nobis sunt, illum, <br><br> in odit, enim
                    aperiam
                    deserunt culpa a provident consequatur. Quo optio nostrum
                    fugiat, voluptates ea <br><br> provident voluptatum
                    consequuntur
                    numquam harum quidem?</div>
                <div class="media media-2">Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Incidunt maxime in amet
                    laborum sequi aperiam iusto ipsam eius <br><br> enim, dicta
                    corrupti
                    assumenda illo culpa delectus at animi tempora et tenetur
                    aliquam? Distinctio aperiam veritatis,<br><br> nam
                    voluptatum
                    voluptatibus quae, eum sint, obcaecati nobis dolorum est
                    natus asperiores earum iure! Quo, tempora!</div>
            </div>
        </div>
        <!-- contact us konten end -->

        <!-- footer start -->
        <!-- Footer -->
        <div class="footer-konten">
            <div class="credit">&copy; 2023 - Indonesia Accounting Fair
                Politeknik Negri
                Jakarta.</div>

            <div class="social">
                <a href=""><i data-feather="instagram"></i></a>
                <a href=""><i data-feather="twitter"></i></a>
                <a href=""><i data-feather="facebook"></i></a>
                <a href=""><i data-feather="linkedin"></i></a>
            </div>
        </div>
        <!-- footer end -->

        <!-- Script -->
        <script>feather.replace()</script>
        <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
        <script src="/library/jquery.min.js"></script>
        <script src="/library/popper.js"></script>
        <script src="/library/bootstrap.min.js"></script>
        <script src="/library/main.js"></script>

    </body>
</html>